project_name = "secure-baseline"
environment  = "dev"
aws_region   = "eu-north-1"

vpc_cidr           = "10.0.0.0/16"
enable_nat_gateway = false
bastion_ssh_cidr   = "203.0.113.10/32"

# EC2
key_name              = null
app_ami_id            = null
bastion_instance_type = "t3.micro"
app_instance_type     = "t3.micro"
app_instance_count    = 2

# Observability
log_retention_days    = 7
alarm_email           = ""
cpu_threshold_percent = 80

public_subnets = {
  public-a = {
    cidr = "10.0.1.0/24"
    az   = "eu-north-1a"
  }
  public-b = {
    cidr = "10.0.2.0/24"
    az   = "eu-north-1b"
  }
}

private_subnets = {
  private-a = {
    cidr = "10.0.10.0/24"
    az   = "eu-north-1a"
  }
  private-b = {
    cidr = "10.0.11.0/24"
    az   = "eu-north-1b"
  }
}

tags = {
  Owner = "platform-team"
}
